#**Week 2 - Titanic Data EDA Practice**

Here is where you import the libraries necessary to perform the following tasks!

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

# PHASE 1: Exploring the Dataset

1: Load the titanic dataset ('titanic3.xls') using pandas.

In [5]:
# Hint: The data is in a .xls, not .csv! Also, make sure you have the correct file path
df = pd.read_excel('/content/drive/MyDrive/Orgs/MDST/titanic.xls')

Features

* survival - Survival (0 = No; 1 = Yes)
* class - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
* name - Name
* sex - Sex
* age - Age
* sibsp - Number of Siblings/Spouses Aboard
* parch - Number of Parents/Children Aboard
* ticket - Ticket Number
* fare - Passenger Fare
* cabin - Cabin
* embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
* boat - Lifeboat (if survived)
* body - Body number (if did not survive and body was recovered)

2: Print out the dimensions, column names, and datatypes of this dataset! Then, print out the head.

In [13]:
# Dimensions
print(df.shape)
# Columns
print(df.columns)
# Datatypes
print(df.dtypes)
# Head
df

(1309, 14)
Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')
pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

3: Use .describe() to find out some initial statistics. In this dataset, what percentage of people died on the Titanic? How many people does this correspond to? Then use .describe(include='O') to figure out some information about categorical data. Is there anything surprising?

In [12]:
# Describe
df.describe()
# Answer the questions here!
print("survived")

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

There are some null values. Which columns have null values?

In [ ]:
# List columns here

How many null values are in each null column and what is the percentage of null values per column?

In [ ]:
# Hint: Method that checks if a value is null and 'sum'thing that adds

Clean the dataframe by dropping the rows with null ages, and then fill the null values in fare with the mean fare.

In [ ]:
# Drop rows here

# Describe what you found!

In [ ]:
# Fill null here

4: Use .unique() on the columns to figure out some unique values. Which columns does it make sense to do this on?

In [ ]:
# Fill this out
unique_cols = [...]

for col in unique_cols:
  # Print col here

  # Apply and print unique values here

  # Print to see everything again

5: Find the min and max siblings, family members, ticket price, and age.

6: How many people are in each class?

In [ ]:
# Count values!

7: Find the mean fare of each class.

In [ ]:
# df.groupby('category')['value']

9: Using seaborn, graph the ticket prices with a histogram. Label axes and give your visualization a descriptive title!

# PHASE 2: Feature Creation

1: Let's start by removing the home destination, body, cabin, and ticket columns.

2: Let's make a new column called 'family_size' that counts the number of family members a passenger has in their family. Then, move this column to the right of the parent and children column.

(We're going to define number of family members in an individual's family as siblings + partner + parents + childs + 1 (for yourself). So if someone has a mom, dad, and a sibling, their family size is 4.)

Using seaborn, graph the family sizes of the dataset in a barplot. Label axes and title.

In [ ]:
# Resetting the index may be helpful here...

3: Make a new column called 'family_group' that creates categories of how big a family is. 1-3 = small, 4-6 = medium, 7+ = large. Then print out the mean of each

(hint: It's easiest if you use the .map() function)

In [ ]:
# There's a hint above!

4: Make a new column called age_cat that separates the age into four categories. [0, 18), [18, 30), [30, 60), 60+. Let's label them with 'child', 'young_adult', 'adult', 'senior'. Then move this new column to the right of your age column.

5: The names in the dataset are in an interesting format. Create three additional columns that describe people's names. 'first' and 'last' describe their first and last names, while 'title' describes their title such as Mr., Ms., or Dr.

(It's probably best practice to make this column using regex, but if you aren't familiar with it, you can accomplish this by chaining some .str.split()'s together.)

How many doctors are on this ship? How many unique titles are there?

How many families are there, assuming a family is 3+ members?

Clean the titles. Replace all professional/royalty title values with a single value, and put all variations of a non-royalty female title into the same title (Mrs, Ms, Mademoiselle, Miss). (Madame is a royalty title!)

# Phase 3: Looking at survival

1: Let's display some percentages. print() out:    

Male: A%  
Female: B%  
1st class: X%  
2nd class: Y%  
3rd class: Z%  
  
where A, B, X, Y, Z, are the respective percentages. You can use fstrings to simplify this

2: How about the percentage of people in each class who survived? Gender? Age category? Family size?

3: What is the correlation with pclass and survival? What about age and survival? Ticket price and survival? Family size and survival?

How many professional/royalty people survived? What about for the non-professional/non-royalty people? What is the percentage of survival for these groups?

4: Finally, filter the rows and remove everyone who died. Run .describe(), and plot some information of your choice.